.myheader{
  text-align : center;
  background : url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.outdoorphotographer.com%2Ftips-techniques%2Fphoto-tip-of-week%2Fkiss-the-landscape-part-2%2F&psig=AOvVaw19uyWtIVBhME8MZTyPL1Qe&ust=1592221481759000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKCZ5redgeoCFQAAAAAdAAAAABAD);
  background-repeat: no-repeat;
}

#about{
  text-align: center;
}
.my-profile-pic{
  border-radius: 50%;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
